.nav-shadow {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.Navbar {
  z-index: 1;
}

.Navbar .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  z-index: 20;
}

.Navbar .top-bar * {
  margin: 0px 40px;
}

.Navbar .logo {
  font-family: 'Orbitron', monospace;
  font-weight: 700;
  font-size: 40px;
  color: #FE774C;
}

.Navbar .navbar-account-section {
  position: relative;
}

.Navbar .show-username {
  position: absolute;
  top: 50%;
  left: -100%;
  color: #FE774C;
  text-decoration: underline;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  }

.Navbar .account-icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.Navbar .account-dropdown {
  position: absolute;
  padding: 8px 13px;
  font-size: 20px;
  z-index: 2;
  background-color: white;
}

.Navbar .account-dropdown span {
  margin: 6px 4px;
  padding: 2px;
  color: #FE774C;
  display: block;
  cursor: pointer;
}

.Navbar .account-dropdown hr {
  width: 90%;
  height: 3px;
  border: none;
  background-color: #FE774C;
  border-radius: 100px;
}