.YourFeed {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.YourFeed .title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.YourFeed .title {
  padding: 6px 10px;
  margin: 9px;
  border-radius: 100px;
  font-size: 17px;
  background-color: #D9D9D9;
}

.YourFeed .your-feed {
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
}
